PORT=4000
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:npg_UTh78yQxPLiB@ep-round-cloud-aoaj7dzm-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Auth
JWT_SECRET=change_me_in_development_$(New-Guid)
JWT_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=599995267496-911836gc4c9q0oco22orlvuf93ga3i55.apps.googleusercontent.com